<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <fullstack-logo></fullstack-logo>
        </div>
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-show="!item.auth || auth.user">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
        </ul>
        <button ng-hide="auth.user" ui-sref="login" class="btn login-button">Login</button>
        <div ng-show="auth.user" class="welcome">
            <span>Welcome, {{ auth.user.email }}!</span>
            <a ng-click="logout()">Logout</a>
        </div>
    </div>
</nav>
